Repository JavaScriptonit/mymicroservice-cicd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_products, build_shopping_cart

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH != "main" && $CI_PIPELINE_SOURCE != "merge_request_event"
      when: never
    - when: always


stages:
  - build
  - deploy



.build:
  stage: build
  tags:
    - ec2
    - shell
    - remote
  variables:
    MICRO_SERVICE: ""
    SERVICE_VERSION: ""
  before_script:
    - cd $MICRO_SERVICE
    - export IMAGE_NAME=$CI_REGISTRY_IMAGE/microservice/$MICRO_SERVICE
    - export IMAGE_TAG=$SERVICE_VERSION
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG


build_frontend:
  extends: .build
  variables:
    MICRO_SERVICE: frontend
    SERVICE_VERSION: "1.3"
  only:
    changes:
      - "frontend/**/*"


build_products:
  extends: .build
  variables:
    MICRO_SERVICE: products
    SERVICE_VERSION: "1.8"
  only:
    changes:
      - "products/**/*"


build_shopping_cart:
  extends: .build
  variables:
    MICRO_SERVICE: shopping-cart
    SERVICE_VERSION: "2.1"
  only:
    changes:
      - "shopping-cart/**/*"

deploy test shopping-cart
  shopping-cart/server.js
Due: build_shopping_cart

shopping-cart deploy + new Server
  .gitlab-ci.yml
  shopping-cart/server.js
Due: build_shopping_cart

deploy new front + products
  frontend/server.js
  products/server.js
Due: build_frontend, build_products

.gitlab-ci.yml error fix
  .gitlab-ci.yml
Due: none

deploy frontend - fix error
  .gitlab-ci.yml
  frontend/server.js
Due: build_frontend
